{{/*
  Image Shortcode for Help Center Articles
  
  Usage:
    {{< img src="step-1-signup.png" alt="Click the signup button" >}}
    {{< img src="step-1-signup.png" alt="Click signup" caption="The signup button is in the top right" >}}
    {{< img src="step-1-signup.png" alt="Click signup" width="600" >}}
  
  The shortcode automatically:
    1. Looks for images in /images/articles/{section}/{parent}/{slug}/
    2. Falls back to language-specific folder for translated content
    3. Supports captions, custom widths, and click-to-enlarge
*/}}

{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $width := .Get "width" | default "" -}}

{{/* Build the image path based on current page location */}}
{{- $section := .Page.Section -}}
{{- $slug := .Page.File.ContentBaseName -}}

{{/* Get parent folder name (e.g., "getting-started" from "users/getting-started/create-account") */}}
{{- $parent := "" -}}
{{- with .Page.CurrentSection -}}
  {{- if and .File (ne .File.ContentBaseName "_index") -}}
    {{- $parent = .File.ContentBaseName -}}
  {{- else -}}
    {{/* Get the parent section title from the path */}}
    {{- $parent = .File.Dir | path.Base -}}
  {{- end -}}
{{- end -}}

{{/* Construct the image path: /images/articles/{section}/{parent}/{slug}/{src} */}}
{{- $basePath := printf "/images/articles/%s" $section -}}
{{- if $parent -}}
  {{- $basePath = printf "%s/%s" $basePath $parent -}}
{{- end -}}
{{- if and $slug (ne $slug "_index") -}}
  {{- $basePath = printf "%s/%s" $basePath $slug -}}
{{- end -}}

{{/* For translated content, check if language-specific image exists */}}
{{- $lang := .Page.Lang -}}
{{- if ne $lang "en" -}}
  {{- $basePath = replace $basePath "/images/articles/" (printf "/images/articles-%s/" $lang) -}}
{{- end -}}

{{/* Final image URL */}}
{{- $imgPath := printf "%s/%s" $basePath $src -}}

<figure class="article-image">
  <a href="{{ $imgPath }}" class="image-lightbox" data-alt="{{ $alt }}">
    <img 
      src="{{ $imgPath }}" 
      alt="{{ $alt }}"
      loading="lazy"
      {{ with $width }}style="max-width: {{ . }}px;"{{ end }}
    >
    <span class="image-zoom-hint">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
        <path d="M11 8v6"></path>
        <path d="M8 11h6"></path>
      </svg>
    </span>
  </a>
  {{- with $caption -}}
  <figcaption>{{ . }}</figcaption>
  {{- end -}}
</figure>
